.admin-page {
    background-color: #fffdd0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-page-container {
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff3bf;
    border-radius: 8px;
    max-height: 90vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h2 {
    color: #555;
    margin-top: 20px;
}

p {
    color: #777;
    font-size: 16px;
    line-height: 1.5;
}

table {
    width: 100%;
}

.gameList {
    max-height: 350px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #ce8d00;
    color: #555;
    padding: 10px;
    text-align: left;
}

.game-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50px;
}

.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
}

button[mat-icon-button] {
    margin-right: 10px;
    background-color: #f5b855;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[mat-icon-button]:hover {
    background-color: #8b5e15;
}

button.modify-create-button {
    background-color: green;
}

button.modify-create-button:hover {
    background-color: darkgreen;
}

button.delete-button {
    background-color: red;
}

button.delete-button:hover {
    background-color: darkred;
}

.actions-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.history-button-container {
    display: flex;
    margin-left: auto;
    margin-top: 2%;
    justify-content: flex-start;
}

button.exit-button {
    font-size: 1.1em;
    padding: 15px 30px;
    background-color: red;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.exit-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

button.exit-button:hover {
    background-color: darkred;
}

div > div {
    margin-bottom: 20px;
}
