$primary-bg-color: #fffdd0;
$container-bg-color: #fff3bf;
$text-dark: #333;
$text-light: #666;
$text-grey: #555;
$button-color: #ffa500;
$button-hover-color: #d78c00;
$button-text-color: #000000;

.game-list {
    background-color: $primary-bg-color;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.game-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto 0;
    padding: 20px;
    background-color: $container-bg-color;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h1,
    h2 {
        color: $text-dark;
        margin-bottom: 20px;
    }

    p {
        color: $text-light;
        margin-bottom: 20px;
    }
}

.game-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: 10px 15px;
        border-bottom: 1px solid #e5e5e5;
    }
}

.game-details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
    margin: 10px 0;

    .game-info {
        flex: 1;
        padding-left: 20px;
        max-width: 550px;
        overflow-wrap: break-word;

        h2,
        p {
            color: $text-dark;
            margin-bottom: 10px;
        }

        ul li {
            color: $text-grey;
        }
    }
}

.game-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    margin-right: 10px;
    background-color: $button-color;
    color: $button-text-color;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $button-hover-color;
    }
}

.gameName {
    background-color: #ffeeb1;
    border-radius: 8px;
}
button.start-game-button {
    font-size: 1.1em;
    padding: 15px 30px;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 40%;
    margin-top: 5%;
    background-color: #dc3545;
    &.highlighted {
        background-color: #218838;
    }

    &:hover {
        background-color: #dc3545;
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    &:active {
        transform: translateY(1px);
    }
}
