body,
html {
    height: 100%;
    margin: 0;
}
#grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label-name,
.label-time,
.label-description {
    font-weight: bold;
    color: #555;
}

input[type='text'],
input[type='number'] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

.message-name,
.message-time {
    color: red;
    font-size: 14px;
}

mat-chip-listbox.mat-mdc-chip-set-stacked {
    width: 800px;
}

.name-form input[name='game-name'],
.time-form input[name='game-time'],
.description-form input[name='game-description'] {
    width: 800px;
}

button[mat-fab] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
}

button[mat-fab]:hover {
    background-color: #0056b3;
}

mat-chip {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.points-label {
    font-weight: bold;
    color: #007bff;
}

.validate-button {
    padding: 10px 20px;
    background-color: #008822;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    grid-column: span 2;
}

.validate-button:hover {
    background-color: #004615;
}

#cancel-button {
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    grid-column: span 2;
}

#cancel-button:hover {
    background-color: #d32f2f;
}
