$max-width: 1000px;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(243, 140, 15, 0.539); 
    color: #0a0a0a;
}

.header img {
    max-height: 40px;
    max-width: 8%;
}

.header h1 {
    margin-left: 10px;
}

.divider {
    border: 1px solid #2c2a2a; 
margin-top: 0%;
}


.player-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    mat-card-content {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #fff0ad;
    min-height: 100vh;

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: #ffdc97;
        border-radius: 10px;
        color: black;
        margin-bottom: 30px;
        width: 90%;
        max-width: $max-width;
        h2 {
            font-size: 28px;
            margin-bottom: 10px;
        }
        .game-description {
            font-size: 18px;
            text-align: center;
            margin-top: 10px;
            max-width: 700px;
            overflow-wrap: break-word;
        }
    }

    .action-buttons {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    #confirm-button {
        &:hover {
            background-color: rgba(100, 221, 23, 0.8);
            color: white;
        }
    }

    .progress-bar {
        width: 80%;
        max-width: 800px;
        margin: 20px 0;
    }

    .score-timer {
        display: flex;
        justify-content: space-between;
        width: 90%;
        max-width: $max-width;
        background-color: #ffdc97;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        div {
            font-size: 18px;
            font-weight: bold;
        }
    }
}
