.header {
    padding: 16px;
}

.container {
    padding: 16px;

    .full-width-field {
        width: 100%;
    }

    .choice-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 8px;

        .index-label {
            margin-right: 8px;
        }

        .choice-field {
            flex: 1;
        }

        .toggle {
            margin-left: 8px;
        }

        button[mat-icon-button] {
            margin-left: 8px;
        }
    }

    button[mat-button]:first-child {
        margin-right: auto;
    }

    button[mat-button]:last-child {
        margin-left: auto;
    }

    div {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}
