<div class="main-page-container">
    <div class="info-project">
        <img src="assets/Logo.png" alt="project logo" clas="project-logo" />
        <h1>Quizzy</h1>
    </div>

    <div class="options">
        <!-- Joindre une partie -->
        <button mat-raised-button (click)="joinGameParty()">Joindre une partie</button>

        <!-- Créer une partie -->
        <button mat-raised-button (click)="createGameParty()">Créer une partie</button>

        <!-- Administrer les jeux -->
        <button mat-raised-button (click)="manageGames()">Administrer les jeux</button>
    </div>

    <div class="info-team">
        <p><b>Équipe 202</b></p>
        <p>Zakarya Khnissi</p>
        <p>Halima Sadia Diarra</p>
        <p>Mohamed Lamine Gning</p>
        <p>Mohamed Laraki</p>
        <p>Bailly Jonathan Clovis Yaro</p>
        <p>Younes Lazzali</p>
    </div>
</div>
