.chat-area-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff0ad;
    border-radius: 16px;
    overflow: hidden;
    margin: 20px;
}

.chat-area {
    background-color: #ffdc97;
    color: black;
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin: 0;
}

.chat-history {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 20px;
    background: #fffdd0;
}

.message-box {
    max-width: 300px;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 20px;
    position: relative;
    font-size: 1rem;
    line-height: 1.4;
    word-wrap: break-word;
}
.message-box.sent {
    background-color: #ffc861;
    align-self: flex-end;
    border-bottom-right-radius: 0;
}

.message-box.received {
    background-color: #ffa500;
    align-self: flex-start;
    border-bottom-left-radius: 0;
    border: 1px solid #eaeaea;
}

.chat-input {
    background-color: #ffdc97;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background: #fffdd0;
    margin-right: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: #ff4757;
    font-size: 0.8rem;
}

.chat-input button {
    padding: 10px 20px;
    background-color: #ffa500;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #d78c00;
    }

    &:disabled {
        background-color: #ccc;
        color: #666;
    }
}
