<body>
    <div *ngIf="isDataLoaded" class="game-container">
        <div class="content-wrapper" #gameChoice (mouseenter)="setFocusOnGame()">
            <div class="header">
                <h2>{{ matchHandler.game.title }}</h2>
                <p class="game-description">{{ matchHandler.game.description }}</p>
            </div>

            <app-question-display class="question-display"
                [currentQuestion]="matchHandler.game.questions[gameLogicService.currentQuestionIndex]"
                [timeLeft]="this.gameLogicService.timeLeft"
                [isTest]="isTest"
                (answersSubmitted)="submitAnswers($event)"
                [isChatFocused]="isChatFocused"
            ></app-question-display>

            <div class="action-buttons">
                <button mat-raised-button color="warn" (click)="abandonGame()">Abandonner</button>
            </div>

            <mat-progress-bar mode="determinate" [value]="gameLogicService.progressValue" class="progress-bar"></mat-progress-bar>
            <div id="timer-state-msg" class="message">
                <div *ngIf="gameLogicService.timerState === timerState.PAUSED" >Compte à rebours en pause</div>
                <div *ngIf="gameLogicService.timerState === timerState.PANIC">Mode panique</div>
            </div>
            <div class="score-timer">
                <div>Score: {{ score }}</div>
                <div>Temps Restant: {{ gameLogicService.timeLeft >= 0 ? gameLogicService.timeLeft : 0 }}</div>
            </div>
        </div>

        <app-chat #chat (mouseenter)="setFocusOnChat()" class="chat-wrapper"></app-chat>
    </div>
</body>
