$max-width: 1000px;

:host {
    display: block;
    width: 100%;
    max-width: $max-width;
    box-sizing: border-box;
}

.question-card {
    background-color: #ffdc97;
    max-height: 90vh; 
    .question-title {
        margin-bottom: 20px;
        max-width: 1000px;
        overflow-wrap: break-word;
        white-space: pre-wrap;
    }

    .mat-grid-list {
        width: 100%;
        .mat-grid-tile {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff0ad;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.2s;

            &:hover {
                background-color: rgb(255, 233, 137);
            }

            &.selected {
                background-color: #c8db1e;
            }
            &.submitted {
                background-color: #12d71c;
                pointer-events: none;
            }
        }
    }

    .action-buttons {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    #confirm-button {
        background-color: #ffa500;
        &:hover {
            background-color: rgba(99, 221, 23, 0.852);
            color: white;
        }
    }
    .input {
        width: 500px;
        height: 65px;
        resize: none;
    }
}
